* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

h2,
h4 {
    color: white;
}

h2 {
    margin-bottom: 10px;
}

h5 {
    color: #7d7f84;
    margin-top: 5px;
}


/* WRAPPER */

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

/* BARRA LATERALE */

#container-side {
    background-color: #000000;
    color: #a3a3a3;
    height: calc(100vh - 100px)
}

#sidebar {
    width: 180px;
    font-size: 12px;
    padding-top: 15px;
    padding: 0 15px;
}

#sidebar img {
    height: 30px;
    margin-right: 10px;
}

/* parte pulsanti */

#button-cont {
    height: 190px;
    margin-top: 10px;
}

#logo-small {
    display: none;
}

.side-button {
    padding: 15px 0;
}

.side-button a {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.side-button,
.disappear {
    font-size: 14px;
}

#sidebar i {
    font-size: 20px;
}

/* parte playlist */

#playlist {
    height: calc(100vh - 350px);
    overflow: auto;
}

/* parte profilo */

#profile {
    height: 50px;
    padding: 0 15px;
}

#profile-line {
    border-bottom: 0.5px solid #a3a3a3;
}

#profile img {
    height: 25px;    
}

#profile-line img {
    height: 13px;
}

#profile-pic img {
    background-color: #808080;
    color: white;
    border-radius: 10px;    
}

#profile a {
    display: flex;
    align-items: center;
    
}

/* PARTE PRINCIPALE */

main {
    width: calc(100% - 180px);
    height: 100%;
    background-color: #141922;
    position: relative;
    overflow: auto;
    padding: 15px;
}

/* parte banner */

#upgrade {
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    width: calc(100% - 180px);
    top: 0;
    right: 0;
    height: 75px;
    padding: 15px 10px;
    background-color: rgba(8, 11, 18, 0.7);
}

#upgrade #button {
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 15px;
}

/* parte nav */

#main-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 12px;
    margin-top: 85px;
    color: #7d7f84;
}

#main-nav div {
    width: 10%;
    text-align: center;
    padding-bottom: 30px;
}

/* parte album */

.container-album {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-album img {
    max-width: 100%;
    margin: 10px 0;
}

.album {
    width: 15%;
    text-align: center;
    margin-bottom: 30px;
}


.img-circle {
    border: 5px solid #141922;
    border-radius: 50%;
}

/* PLAYER */

#player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #282828;
    color: white;
    padding: 10px;
}

#miniature,
#volume {
    width: 20%;
}

#miniature i,
#volume i {
    padding: 0 10px;
}

/* parte sinistra */

#miniature {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 13px;
    font-weight: bold;
}

#miniature img {
    height: 40px;
}

h6 {
    color: #7d7f84;
}


/* controller */

#controller {
    width: 60%;
    text-align: center;
}

#controller i {
    font-size: 20px;
    padding: 0 10px;
}

.controller-text {
    font-size: 12px;
}


.timeline {
    display: inline-block;
    height: 4px;
    width: 70%;
    background-color: #5a5a5a;
    border-radius: 50px;
}

.time-prog {
    display: block;
    height: 100%;
    width: 20%;
    background-color: #c1c1c1;
    border-radius: 50px;
}


/* parte destra volume */

#volume {
    display: flex;
    align-items: center;
}

#volume span {
    display: flex;
    align-items: center;
}

#volume i {
    font-size: 12px;
}



/*************************************************
    MD VERSION 992px
 *************************************************/

@media screen and (max-width:992px) {

    /* parte nav */

    #main-nav div {
        width: 18%;
        text-align: center;
    }

    /* parte album */

    .container-album {
        justify-content: start;
    }

    .album {
        width: 23%;
        text-align: center;
    }

}

/*************************************************
    S VERSION 768px
 *************************************************/

@media screen and (max-width:768px) {

    /* parte nav */

    #main-nav div {
        width: 33%;
        text-align: center;
    }

    /* parte album */

    .container-album {
        justify-content: space-between;
    }

    .album {
        width: 47%;
        text-align: center;
    }
}




/*************************************************
    XS VERSION 468 px
 *************************************************/

@media screen and (max-width:468px) {


    /* barra laterale */

    #sidebar {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sidebar img {
        margin-right: 0;
    }

    #button-cont {
        display: flex;
        flex-direction: column;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: inline-block;
        text-align: center;
    }

    /* parte pulsanti */

    .side-button div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .side-button img,
    #profile img {
        height: 24px;
    }

    .disappear {
        display: none;
    }

    #profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: auto;
        padding: 15px 0;
    }

    #profile div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px 0;
        border-bottom: none;
    }

    /* parte principale */

    main {
        width: calc(100% - 50px);
    }

    /* parte banner */

    #upgrade {
        width: calc(100% - 50px);
    }

    /* parte nav */

    #main-nav div {
        width: 20%;
        text-align: center;
    }

    /* PLAYER */

    #player {
        padding: 5px;
    }

    /* parte miniature */

    #miniature {
        width: 25%;
        gap: 5px;
    }

    #miniature img {
        height: 30px;
    }

    #miniature div {
        font-size: 11px;
    }

    /* controller */

    #controller {
        width: 45%;
    }

    #controller i {
        font-size: 16px;
    }

    .timeline {
        height: 3px;
        width: 90%;
    }

    /* parte volume */

    #volume {
        width: 30%;
    }

    #volume i {
        font-size: 10px;
        padding: 0 5px;
    }

    #volume span {
        gap: 5px;
    }

}